<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="ISO-8859-1">
<title>TP 04 Josue Moscoso</title>
</head>
<body>

	<div>
		<div class="title">
			<h1>Liga de Futbol Profesional</h1>
		</div>
		<div>
			<nav class="nav">
				<a class="nav-link" href="#">Home</a> <a class="nav-link" href="#">Fixture</a>
				<a class="nav-link" href="#">Equipos</a>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-9">
			<div>
				<h2>Noticias</h2>
			</div>
			<div class="card-deck">
				<div class="card col-4">
					<img src="../static/img/logo1.jpg" class="card-img" alt="logoFI">
					<div class="card-body">
						<h3>12/03/20</h3>
						<p>Nuevas noticias de los partidos suspendidos por la
							cuarentena</p>
					</div>
				</div>
				<div class=" card col-4">
					<img src="../static/img/logo1.jpg" class="card-img" alt="logoFI">
					<div class="card-body">
						<h3>13/03/20</h3>
						<p>Repetecion de la transmision en vivo de la final de la copa
							anual profesional</p>
					</div>
				</div>
				<div class="card col-4">
					<img src="../static/img/logo1.jpg" class="card-img" alt="logoFI">
					<div class="card-body">
						<h3>20/03/20</h3>
						<p>Reprogramacion de sorteos para las proximas fechas</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="anuncio col-3">
		<div>
			<h4>Auspisiantes</h4>
		</div>
	</div>
		<footer>
			<h5>Av. Pedro Ortiz de Zarate N 455. Tel 3885876512</h5>
		</footer>
</body>
</html>